{% extends "bootstrap/base.html" %}

{% block title %}Headlines{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><b>Headlines</b></a>
		<span class="navbar-text">
			<p><i>Headlines. Currency. Weather</i></p>
		</span>
	</div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
	<p id="time" align="right"><i>Current date and time: {{ date }}</i></p>
	<p><h3><b>Current weather</b></h3></p>
	<p><form>
		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="city" placeholder="Enter name of city">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form></p>
	<p>City: <b>{{ weather.city }}</b></p>
	<p>{{ weather.description }} | {{ weather.temperature }}</p>
	<p><h3><b>Currency</b></h3></p>
	<p><b>{{ currency.date }}</b></p>
	<p>{{ currency.cur_USD }}</p>
	<p>{{ currency.cur_EUR }}</p>
	<p><h3><b>Headlines</b></h3></p>
	<p><form>
		<select class="form-select" name="publication" aria-label="Default select example">
			<option selected>Open this select menu</option>
			{% for item in list_rss %}
			<option value="{{ item }}">{{ item }}</option>
			{% endfor %}
		</select>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form></p>
	<p>
	{% for article in articles[0:10] %}
	<b><a href="{{ article.link }}">{{ article.title }}</a></b><br>
	<i>{{ article.published }}</i><br>
	<p>{{ article.summary|safe }}</p>
	<hr>
	{% endfor %}
	<p>
</div>
{% endblock %}
